certifi==2018.4.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
future==0.16.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pymongo==3.8.0
python-telegram-bot==10.1.0
requests==2.22.0
urllib3==1.25.3
Werkzeug==0.15.5
